
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  
  .content {
    display: flex;
    max-width: 1200px;
    gap: 30px;
  }
  
  .text {
    flex: 1;
    text-align: justify;
  }
  
  .sectionTitle {
    font-weight: bold;
    font-size: 2.2rem;
    color: #FFD700; /* cor amarela */
    text-align: center;
    margin: 20px;
  }
  
  .description {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333333;
    margin-bottom: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .aboutImage {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
  }
  