.section {
    margin-bottom: 50px;
    background-color: #fff;
  }
  
  .sectionTitle {
    font-weight: bold;
    font-size: 2.2rem;
    color: #FFD700; /* cor amarela */
    text-align: center;
    margin: 20px;
  }
  
  .animalList {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .animalCard {
    width: 200px;
    border: 1px solid #ececec;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #ffffff;
  }

  .animalCard:hover {
    box-shadow: 0 0 10px #ccc;
  }

  .animalGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
  }
  
  .animalImage {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .animalName {
    font-weight: bold;
  }

  .animalButton {
    width: 100%;
    background-color: #DAA520;
    border: none;
    border-radius: 8px;
    padding: 8px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  .animalSpecies {
    color: #FFD700;
    font-weight: bold;
  }
  
  .animalShelter {
    margin: 5px;
    margin-bottom: 12px;
    color: #707070; /* cor cinza */
  }
  